{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Blog Capstone Project Part 4 - Blog Post{% endblock %}

{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ post['img_url'] }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{ post['title'] }}</h1>
                        <h2 class="subheading">{{ post['subtitle'] }}</h2>
                        <span class="meta">Posted by
                            <a href="{{ url_for('about') }}">{{ post['author']['name'] }}</a> on {{ post['date'] }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <!-- to make sure the HTML content in the post is rendered properly -->
                    <!-- by default its treated as plain text -->
                    <p> {{ post['body']|safe }}</p>
                    <hr>
                    {% if current_user.id == 1: %}
                        <div class="clearfix">
                            <a class="btn btn-primary float-right" href="{{ url_for('edit_post', blog_id=post['id']) }}">Edit Post</a>
                        </div>
                    {% endif %}
                </div>

                <!-- Comments Area -->
                <div class="col-lg-8 col-md-10 mx-auto comment">
                    {% for comment in post.comments %}
                        <ul class="commentList">
                            <li>
                                <div class="commenterImage">
                                    <img src="{{ comment['comment_author']['email'] | gravatar }}" alt="Avatar">
                                </div>
                                <div class="commentText">
                                    <p>{{ comment['text']|safe }}</p>
                                    <span class="date sub-text">{{ comment['comment_author']['name'] }}</span>
                                </div>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
                <div class="col-lg-8 col-md-10 mx-auto">
                    {% if logged_in %}
                        {{ ckeditor.load() }}
                        {{ ckeditor.config(name='comment') }}
                        {{ wtf.quick_form(form, novalidate=True, button_map={'submit': 'primary'}) }}
                    {% else %}
                        <a href="{{ url_for('register') }}">Register</a> or <a href="{{ url_for('login') }}">Log in</a> to leave a comment.
                    {% endif %}
                </div>
            </div>
        </div>
    </article>
{% endblock %}
