{% extends 'base.html' %}

{% block title %}Virtual Bookshelf - Edit Book Rating{% endblock %}

{% block content %}
    <form action="" method="POST">
        <h2>Book Name: {{ book['title'] }} by {{ book['author'] }}</h2>
        <h2>Current Rating: {{ book['rating'] }}</h2>
        <input type="text" placeholder="New Rating" name="new_rating" required data-validation-required-message="Please enter a rating.">
        <br><br>
        <button type="submit">Change Rating</button>
    </form>
{% endblock %}