<!DOCTYPE html>
<html lang="en">

<head>

  {% include "header.html" %}

</head>
<body>
  <!-- Navigation -->

  {% include "navigation.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Blog Capstone Project</h1>
            <span class="subheading">Part 2</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in posts: %}
          <div class="post-preview">
            <a href="{{ url_for('get_post', blog_id=post['id']) }}">
              <h2 class="post-title">{{ post['title'] }}</h2>
              <h3 class="post-subtitle">{{ post['subtitle'] }}</h3>
            </a>
            <p class="post-meta">Posted by
              <a href="{{ url_for('about') }}">{{ post['author'] }}</a>
              on {{ post['date'] }}</p>
          </div>
          <hr>
        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>
  <hr>

  {% include "footer.html" %}

</body>

</html>
