<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Capstone Project Part 1</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <!-- to make sure it can find the css file and the favicon -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog (Part 1)</h1></div>
           </div>
        <div class="content">
            <div class="card">
                <h2>{{ post['title'] }}</h2>
                <p class="text">{{ post['body'] }}</p>
            </div>

    </div>
</div>
</body>
<footer>
    <p><a href="https://github.com/b-tomi">b-tomi</a> &copy; {{ year }}</p>
</footer>
</html>
